@charset "ISO-8859-1";
/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 29, 2023, 2:19:34 PM
    Author     : JENISH
*/


/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 18, 2023, 12:10:46 PM
    Author     : JENISH,CHINTAN
*/
body
{
    overflow-x: hidden;
    
}
*{
    margin: 0;
    padding:0;
  
}
.main{
    
    width: 1500px;
    height: 1600px;
    position: sticky;
    
     top: 0;
}
.top
{
   
    width: 100%;
    height: 60px;
     position: sticky;
     top: 90.3px;
     
     font-size:27px;
	margin-top:-40px;
	padding-top:40px;
	margin-left:0px;
	padding-left:50px;
	color:#6e0202;
     background-color:#FFFFF9;  
}

h2{
    padding-left: 40px;
    padding-top: 13px;
    
}
h3{
    text-align: right;
    margin-right: 100px;
    margin-top: -23px;
}



.first-section{
	height:80px;
	width:100%;
	background-color:#FFFFFF;
	position:sticky;
	padding-top:5px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
	display:flex;
	padding-bottom:5px;
	text-align:center;
	align-items:center;
	position: sticky;
    top: 0;
}
img{
	width:80px;
	height:80px;
	padding-left:80px;
	padding-bottom:5px;
}
.button1{
	margin-left:620px;
	width:108px;
	height:40px;
	text-decoration: none;
	margin-top:20px;
}
.a{
		text-decoration: none;
		color:white;
		font-size:22px;
		padding-right:10px;
}
.button1 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button1:hover,
.button1:active {
  background-color: #FFFFFF;
  background-position: 0 0;
  color: #6e0202;
}
.a:hover{
	  color: #6e0202;
	
}

.button1:active {
  opacity: .5;
}
.h3{
	float:left;
	padding-left:100px;
	font-size:33px;
	color:#6e0202;
	margin-top:11px;
}


.hr{
	opacity:0.3;
	width:90%;
	margin-left:40px;
	position: sticky;
    top: 190px;
     
}

.mid-left{
	margin-top:30px;
	margin-left:50px;
	position: sticky;
    top: 200px;
}
.mid-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width:17%;
}

.mid-left li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius:10px;
}

.mid-left li:hover {
  background-color: #ddd;
}
a{
  text-decoration: none;
  font-size:20px;
}

.mid-left li a {
  display: inline-block;
 
}

.mid-left li:hover {
  background-color: #ddd;
}
.mid-left li {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.mid-left li a {
  display: block;
}

.mid-left li:hover {
  background-color: #ddd;
}
























  








  





