*{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.p1
{
    width: 100%;
    height: 2px;
    background-color: #6e0202;
}
.up{
    background-color:whitesmoke;
    width: 100%;
    height: 3px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.sec1
{
  display: grid;
  height: 60px;
  width: 100%;
  padding-left: 0%;
  place-items: center;
  background:#363736;
  
}
.wrapper .button
{
  display: inline-block;
  height: 60px;
  width: 60px;
  /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  /* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
  transition: all 0.3s ease-out;
  
}
.wrapper .button:hover
{
  width: 180px;
}
.wrapper .button .icon
{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon
{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon
{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon
{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon
{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon
{
  background: #ff0000;
}
.wrapper .button .icon i
{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i
{
  color: #fff;
}
.wrapper .button span
{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span
{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span
{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span
{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span
{
  color: #333;
}
.wrapper .button:nth-child(5) span
{
  color: #ff0000;
}

body
{
    overflow-x: hidden;
}


.navbar
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   top: 0;
   cursor: pointer;
   font-weight: 500;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
   z-index: 5;
}
.navbar:before,
.navbar:after
{
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top:50%;
    left :10px;
    border-radius: 100px/10px;
    /* z-index: 5; */
}

.nav-list
{
   width: 100%;
   height: 93px;
   display: flex;
   align-items: center;
   background: white;
   /* z-index: 5; */
   
}

.nav-list li
{
   list-style: none;
   position: relative;
   width: auto;
   /* z-index: 5; */
}
.nav-list li a
{
   text-decoration: none;
   color:#6e0202 ;
   font-weight: 700;
   /* z-index: 5;  */
}
.nav-list li a:hover
{
    color:white;
    font-size: 17px;
    background-color: #6e0202;


 }

.submenu
{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px; 
    /* opacity: 0; */
    /* z-index: -1; */
}


li:hover ul.submenu
{
    opacity: 1;
    top: 53px; 
    /* z-index: 5; */
}

.submenu li
{
    float: none;
    width: 100%;
    /* z-index: 5; */
}


.submenu a:hover
{
    font-weight: 600;
    color: #6e0202;
     /* z-index: 4; */
}
.submenu a
{
    background-color: white;
    padding: 0;
    margin: auto;
    /* z-index: 5; */
}
.nav-list a
{
    display: block;
    font-weight: 200;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    background:white;
    /* z-index: 5; */
}
.logo
{
    width: 20%;
    height: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    /* z-index: 5; */
}
.logo img
{
    width: 30%;
    height: 90px;
    /* z-index: 5; */
}

  .submenu {
    display: none;
  }
  
  li:hover .submenu {
    display: block;
  }
  


.slide-container
{
    position: relative;
    width: 100%;
    z-index: 1;
    
}
.slide-container :hover .submenu{
    display: none;
}

.slide img
{
    width: 100%;
    /* justify-content: ; */
     height: 560px;
}

.arrow
{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next
{
    right: 15px;
}
.prev
{
    left:15px;
}
.caption
{
    color: white;
    /* font-size: 20px; */
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: fantasy; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; */
    font-family: cursive;
}
.slide
{
    display: none;
}

.donation
{
    color:#333;
    background-color: rgb(236, 230, 230);
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    /* text-decoration: underline #333 4px; */
   
}
.main{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: rgb(236, 230, 230);
}

.col-sm-6
{
    width:50%;
    height: 400px;
    padding-top: 50px;
    
    
}
.pro
{
 width: 50%;
 height: 400px;
 padding-top: 50px;
}
.pro img{
    height: 350px;
    border:4px #6e0202 solid;
    filter:drop-shadow(5px 5px 5px gray)
}

.slogan
{
    width: 100%;
    height: 200px;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#FAF9F6;
}
.text1
{
    color:#363736;
    font-size: 30px;
    text-decoration: underline;
}
.text2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
/* .slogan2{
    width: 100%;
    height:40px;
    text-align: left;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#FAF9F6;
    color:#333;
    padding-left: 9px;
} */
.h1{
    opacity: 0.3;
}
 /* .main-containers{
    display: block;
    margin:  auto;
    background: white;
    background-color:#FAF9F6;
    
} */
button{
    width: 90px;
    height: 25px;
    cursor: pointer;
    
}
button:hover{
    background-color: #333;
    color: #fff;
} 
/*
.slogan3{
    width: 33%;
    height: 250px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#FAF9F6;
    color: black;
    display: flex;
}
.slogan4{
       
} */
.container{
    background-color: #FAF9F6;
    height: 360px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu {
    display: flex;
  }
  
  .menu button {
    margin: 4px;
    cursor: pointer;
    border-radius: 30%;
  }
  
  .button_active {
    color: teal;
  }
  
  .content_inside {
    display: none;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
  }
  
  .content_inside_active {
    display: block;
    display: flex;
  }

.first{
    width: 33%;
    height: 235px ;
    text-align: center;
    padding-top: 15px;
    border-right: 2px solid rgb(169, 168, 168) ;
   

}
.second{
    width: 33%;
    height: 235px;
    text-align: center;
    padding-top: 15px;
    border-right: 2px solid rgb(169, 168, 168) ;
}
.third{
    width: 33%;
    height: 235px;
    text-align: center;
    padding-top: 15px;
   
}
.down{
    width: 100%;
    height: 280px;
    background-color: #454645;
    color: white;
    display: flex;
}
.fi{
    padding-top: 20px;
    padding-left: 60px;
    width: 70%;
    justify-content: left;
    text-align:left;
    color: white;

}
.s{
    width: 30%;
    text-align: center;
    padding-top: 60px;
    padding-left: 60px;
    
}
.t{
    width: 40%;
    padding-top: 60px;
    padding-left: 20px;
    text-align: center;
}
.last{
    width: 50%;
}
.part1{
   
    font-size:16px;
    font-weight: 700;
    cursor: pointer;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.part1 li a{
    text-decoration: none;
    color: white;
}
.part1 li::before{
    content: "\00BB";
}
.part1 li a:hover{
    color: #9c6666;
    text-decoration: underline;
}
.h2{
    text-decoration: underline;
    text-align: left;
}
.foot{
    width: 100%;
    height: 70px;
    color: white;
    background-color:  #363736;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

