*{
  margin: 0;
  padding:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

body
{
  overflow-x: hidden;
}


.navbar
{
   display: flex;
   align-items: center;
   justify-content: center;
   position: sticky;
   top: 0;
   cursor: pointer;
   font-weight: 500;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
   z-index: 5;
}
.navbar:before,
.navbar:after
{
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    top:50%;
    left :10px;
    border-radius: 100px/10px;
    /* z-index: 5; */
}

.nav-list
{
   width: 100%;
   height: 93px;
   display: flex;
   align-items: center;
   background: white;
   /* z-index: 5; */
   
}

.nav-list li
{
   list-style: none;
   position: relative;
   width: auto;
   /* z-index: 5; */
}
.nav-list li a
{
   text-decoration: none;
   color:#6e0202 ;
   font-weight: 700;
   /* z-index: 5;  */
}
.nav-list li a:hover
{
    color:white;
    font-size: 17px;
    background-color: #6e0202;


 }

.submenu
{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px; 
    /* opacity: 0; */
    /* z-index: -1; */
}


li:hover ul.submenu
{
    opacity: 1;
    top: 53px; 
    /* z-index: 5; */
}

.submenu li
{
    float: none;
    width: 100%;
    /* z-index: 5; */
}


.submenu a:hover
{
    font-weight: 600;
    color: #6e0202;
     /* z-index: 4; */
}
.submenu a
{
    background-color: white;
    padding: 0;
    margin: auto;
    /* z-index: 5; */
}
.nav-list a
{
    display: block;
    font-weight: 200;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    background:white;
    /* z-index: 5; */
}
.logo
{
    width: 20%;
    height: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    /* z-index: 5; */
}
.logo img
{
    width: 30%;
    height: 90px;
    /* z-index: 5; */
}

  .submenu {
    display: none;
  }
  
  li:hover .submenu {
    display: block;
  }
  




.main-contactus{
  width: 100%;
  height: 400px;
  padding-top: 70px;
  padding-bottom:120px ;
  
}

 .background {
  display: flex;

  /* min-height: 100vh; */
} 

.containe {
  flex: 0 1 700px;
  margin: auto;
  /* padding: 10px; */
  padding-left: 6%; 
 

}

.screen {
  position: relative;
  background: #fff;
  border-radius: 15px;
 
  
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #6e0202;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #333;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #6e0202;
}

.app-contact {
  margin-top: 220px;
  font-size: 10px;
  color: #333;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  /* color: #6e0202; */
  font-size: 14px;
  /* text-transform: capitalize; */
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #333;
}

.app-form-control:focus {
  border-bottom-color: #6e0202;
}

.app-form-button {
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin: 6px;

}

.app-form-button:hover {
  color: rgb(113, 20, 20);
}


@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.map_sec{
    padding: 50px 0px;

}
.map_inner h4, .map_inner p{
    color: #000;
    text-align: center
}
.map_inner p{
    font-size: 13px;
}
.map_bind{
   margin-top: 20px;
    border-radius: 30px;
    overflow: hidden;
}
.photu{
  width: 30%;
  margin: 0px;
  justify-content: right;
}
.photu img{
   width: 360px;
   height: 350px;
   margin-top: 0px;
 
   /* margin-left: 0px; */
}


.blood{
   padding: 110px;
   padding-top: 60px;
   padding-bottom: 40px;
   border: 2px solid #ccc; /* sets the border to be 1px wide and solid in color #ccc */
   /* padding: 90px;  */
   box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
   margin: 50px;
}
.clo{
  text-decoration: underline;
}
.clo1{
  /* text-shadow: 5px #333; */
  color: #6e0202;
}
.down{
  width: 100%;
  height: 280px;
  background-color: #454645;
  color: white;
  display: flex;
}
.fi{
  padding-top: 20px;
  padding-left: 60px;
  width: 70%;
  justify-content: left;
  text-align:left;
  color: white;

}
.s{
  width: 30%;
  text-align: center;
  padding-top: 60px;
  padding-left: 60px;
  
}
.t{
  width: 40%;
  padding-top: 60px;
  padding-left: 20px;
  text-align: center;
}
.last{
  width: 50%;
}
.part1{
 
  font-size:16px;
  font-weight: 700;
  cursor: pointer;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.part1 li a{
  text-decoration: none;
  color: white;
}
.part1 li::before{
  content: "\00BB";
}
.part1 li a:hover{
  color: #9c6666;
  text-decoration: underline;
}
.h2{
  text-decoration: underline;
  text-align: left;
}
.foot{
  width: 100%;
  height: 70px;
  color: white;
  background-color:  #363736;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.sec1
{
display: grid;
height: 60px;
width: 100%;
padding-left: 0%;
place-items: center;
background:#363736;

}
.wrapper .button
{
display: inline-block;
height: 60px;
width: 60px;
/* float: left; */
margin: 0 5px;
overflow: hidden;
background: #fff;
border-radius: 50px;
cursor: pointer;
/* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
transition: all 0.3s ease-out;

}
.wrapper .button:hover
{
width: 180px;
}
.wrapper .button .icon
{
display: inline-block;
height: 60px;
width: 60px;
text-align: center;
border-radius: 50px;
box-sizing: border-box;
line-height: 60px;
transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon
{
background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon
{
background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon
{
background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon
{
background: #333;
}
.wrapper .button:nth-child(5):hover .icon
{
background: #ff0000;
}
.wrapper .button .icon i
{
font-size: 25px;
line-height: 60px;
transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i
{
color: #fff;
}
.wrapper .button span
{
font-size: 20px;
font-weight: 500;
line-height: 60px;
margin-left: 10px;
transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span
{
color: #4267B2;
}
.wrapper .button:nth-child(2) span
{
color: #1DA1F2;
}
.wrapper .button:nth-child(3) span
{
color: #E1306C;
}
.wrapper .button:nth-child(4) span
{
color: #333;
}
.wrapper .button:nth-child(5) span
{
color: #ff0000;
}